In [28]:
import pandas as pd

In [29]:
raw_data1 = {
    'id': [1,2,3,4,5],
    'city': ['Tripoli', 'London', 'Rome', 'Cairo', 'Sydney'], 
    'rank': ['1st', '2nd', '3rd', '4th', '5th'], 
    'population': ['2M', '10M', '1M', '20M', '3M']
}
df1 = pd.DataFrame(raw_data1, columns = ['id', 'city', 'rank', 'population'])

In [30]:
raw_data2 = {
    'id': [6,7,8,9],
    'city': ['Lisbon', 'Tokyo', 'Mecca', 'Berlin'], 
    'rank': ['19th', '22nd', '33rd', '40th'], 
    'population': ['1M', '9M', '0.8M', '7M']
}
df2 = pd.DataFrame(raw_data2, columns = ['id', 'city', 'rank', 'population'])

In [31]:
raw_data3 = {
    'id': [1,4,8,9],
    'city': ['Milano', 'Beijing', 'Addis Ababa','Belfast'], 
    'rank': ['7th', '6th', '212t', '11th']
}
df3 = pd.DataFrame(raw_data3, columns = ['id', 'city', 'rank'])

In [45]:
# concatenate -> join the two dataframes along the rows 
new_df = pd.concat([df1, df2],ignore_index=True)

'2nd'

In [38]:
# concatenate -> join the two dataframes along the columns 
new_df1 = pd.concat([df1, df2],axis=1)
new_df1

   id     city rank population   id    city  rank population
0   1  Tripoli  1st         2M  6.0  Lisbon  19th         1M
1   2   London  2nd        10M  7.0   Tokyo  22nd         9M
2   3     Rome  3rd         1M  8.0   Mecca  33rd       0.8M
3   4    Cairo  4th        20M  9.0  Berlin  40th         7M
4   5   Sydney  5th         3M  NaN     NaN   NaN        NaN

In [23]:
#pd.merge(new_df,df3,on='id')