In [21]:
import pandas as pd

In [22]:
raw_data1 = {
    'id': [1,2,3,4,5],
    'city': ['Tripoli', 'London', 'Rome', 'Cairo', 'Sydney'], 
    'rank': ['1st', '2nd', '3rd', '4th', '5th'], 
    'population': ['2M', '10M', '1M', '20M', '3M']
}
df1 = pd.DataFrame(raw_data1, columns = ['id', 'city', 'rank', 'population'])

In [23]:
raw_data2 = {
    'id': [6,7,8,9],
    'city': ['Lisbon', 'Tokyo', 'Mecca', 'Berlin'], 
    'rank': ['19th', '22nd', '33rd', '40th'], 
    'population': ['1M', '9M', '0.8M', '7M']
}
df2 = pd.DataFrame(raw_data2, columns = ['id', 'city', 'rank', 'population'])

In [24]:
raw_data3 = {
    'id': [1,4,8,9],
    'city': ['Milano', 'Beijing', 'Addis Ababa','Belfast'], 
    'rank': ['7th', '6th', '21st', '11th']
}
df3 = pd.DataFrame(raw_data3, columns = ['id', 'city', 'rank'])

In [28]:
df1

   id     city rank population
0   1  Tripoli  1st         2M
1   2   London  2nd        10M
2   3     Rome  3rd         1M
3   4    Cairo  4th        20M
4   5   Sydney  5th         3M

In [34]:
df3

   id         city  rank
0   1       Milano   7th
1   4      Beijing   6th
2   8  Addis Ababa  21st
3   9      Belfast  11th

In [58]:
pd.merge(df2,df3,left_index=True,right_index=True,suffixes=('_left','_tight'))

   id_left city_left rank_left population  id_tight   city_tight rank_tight
0        6    Lisbon      19th         1M         1       Milano        7th
1        7     Tokyo      22nd         9M         4      Beijing        6th
2        8     Mecca      33rd       0.8M         8  Addis Ababa       21st
3        9    Berlin      40th         7M         9      Belfast       11th

In [66]:
dd = df2.stack()

KeyError: 'Level city not found'