In [2]:
import pandas as pd

In [3]:
raw_data2 = {
    'id': [6,7,8,9],
    'city': ['Lisbon', 'Tokyo', 'Mecca', 'Berlin'], 
    'rank': ['19th', '22nd', '33rd', '40th'], 
    'population': ['1M', '9M', '0.8M', '7M']
}
df2 = pd.DataFrame(raw_data2, 
                   index = pd.Index(['A','B','C','D'], name='letter'),
                   columns = pd.Index(['id', 'city', 'rank', 'population'],name='attributes'))

In [4]:
df2

attributes  id    city  rank population
letter
A            6  Lisbon  19th         1M
B            7   Tokyo  22nd         9M
C            8   Mecca  33rd       0.8M
D            9  Berlin  40th         7M

In [8]:
df3 = df2.stack(0)

In [6]:
df3

letter  attributes
A       id                 6
        city          Lisbon
        rank            19th
        population        1M
B       id                 7
        city           Tokyo
        rank            22nd
        population        9M
C       id                 8
        city           Mecca
        rank            33rd
        population      0.8M
D       id                 9
        city          Berlin
        rank            40th
        population        7M
dtype: object

In [11]:
df3.unstack('attributes')

attributes id    city  rank population
letter
A           6  Lisbon  19th         1M
B           7   Tokyo  22nd         9M
C           8   Mecca  33rd       0.8M
D           9  Berlin  40th         7M